.wrapper {
    width: 100%;
}
.question-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-container hr {
    border-top: 1px solid black;
}