.card {
    border: 2px solid grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2%;
    margin-right: 20px;
}

.card h2 {
    color: hsl(229, 31%, 21%);
}

.card p {
    color: grey;
}

.card hr {
    border-top: 2px dotted grey;
    width: 100%;
}